.student-db-container {
  padding: 0 0 40px 0;
  background-color: #f8fafc;
  min-height: 100vh;
  width: 100%;
}

.student-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.nav-icons { display: flex; align-items: start; gap: 20px; }
.profile-icon { cursor: pointer; color: #475569; }
.logout-icon { cursor: pointer; color: #ef4444; }

.welcome-banner {
  padding: 40px 5%;
  background: linear-gradient(to right, #4f46e5, #9333ea);
  color: white;
  margin-bottom: -30px; /* Overlap effect */
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  padding: 0 5%;
  margin-top: 70px;
}

.menu-card {
  background: white;
  padding: 30px 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.menu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.icon-wrapper { margin-bottom: 15px; }
.menu-card h3 { font-size: 1.1rem; color: #1e293b; }

.welcome-banner.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(to right, #4f46e5, #9333ea);
  color: white;
  padding: 15px 5%;
  
  /* Yeh icons ko right mein shift karega */
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.student-info-text h1 {
  font-size: 1.5rem;
  margin: 0;
  height:auto;
 line-height: 1.8;
}

.student-info-text p {
  margin: 0;
  opacity: 0.9;
  font-size: 0.9rem;
}

.nav-icons {
  display: flex;
  gap: 20px; /* Profile aur Logout ke beech ki doori */
  align-items: center;
  margin-top: 5px;
  margin-left: auto;
}

.profile-icon, .logout-icon {
  cursor: pointer;
  transition: transform 0.2s;
}

.profile-icon:hover {
  transform: scale(1.1);
}


.para{
  display: flex;
  justify-content: flex-start;
  margin: 5px 0 10px 0;
  gap:20px;
  
}

student-info-text h1{
  margin-bottom: 0px;
  Line-height:0;
}