/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block; /* Vite yahan 'flex' rakhta hai, use hata dein */
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* Vite yahan 'center' rakhta hai */
}